* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #141414;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img{
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 400px;
    background-color: #ddd;
    padding: 50px;
}

.rightside label{
    display: block;
    margin-bottom: 20px;
}

.rightside input{
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    outline: 0;
}

.rightside h1{
    text-align: center;
    background-color: aqua;
    border-radius: 10vh;
}

.error{
    font-size: 11px;
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 5px;
}