* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #f0f0f5;
}

.mopa{
    height: 50px;
    width: 400px;
    margin-bottom: 50px;
    margin: auto;
}

.mopa h1{
    height: 50px;
    color: #E02041;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.biriba{
    height: 7px;
    width: 400px;
    margin: auto;
    border-radius: 5px 5px 0px 0px;
    background-color: #E02041;
}

.rightside {
    width: 400px;
    background-color: white;
    padding: 50px;
    padding-top: 1px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0px 0px 15px rgb(172, 172, 172);
}

.rightside label{
    display: block;
    margin-bottom: 20px;
}

.rightside input{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    outline: 0;
}

.rightside p{
    font-size: 32px;
    margin: 15px;
    color: #E02041;
    text-align: center;
}

.error{
    font-size: 11px;
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.temConta{
    text-align: center;
}

.cadastro{
    color: #f0f0f5;
    background-color: #E02041;
    cursor: pointer;
}

.cadastro:hover{
    background-color: #e02040ce;
}